<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../stylesheets/style.css' />

  </head>
  <body>


<h1>Investors List</h1>

<table class="responstable">
  
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Year</th>
  </tr>

  <%
  
   for (var i = 0; i < data.length; i++) { %>
    <tr>
      <td><%= data[i].first %></td>
      <td><%= data[i].last %></td>
      <td><%= data[i].year %></td>
    </tr>    
  <% } %>
</table>



  </body>
</html>